@use 'var';

.elenco {
  text-align: center;
  padding: 6vw;

  h2 {
    margin-bottom: 3vw;
  }

  &__content {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      &__item {
        display: block;
        background-color: var.$cardColor;
        border-radius: 10px;

        img {
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }
}
